<div class="container">

    <h3>Get the FreshCart app</h3>
    <p>We will send you a link, open it on your phone to download the app.</p>
    <div class="row justify-content-between gx-5">

        <div class="col-md-8">
    
            <input class="form-control" type="email" placeholder="Email"> 
        </div>
        <div class="col-md-4 ">
            <button class="btn btn-success " >Share App Link</button>
        </div>
    </div>
    <div class="d-flex justify-content-between">
        <div>
            <span>Payment Partners</span> 
            <img class="w-25 px-1" src="../../assets/online.ico" alt="">
            <img class="w-25 px-1" src="../../assets/Mastercard CLP.png" alt="">
            

        </div>
        <div>
            <span>Get deleveries with FreshCart app</span> 
            <img class="w-25 px-1" src="../../assets/app-store-badge-128x128.png" alt="">
            <img class="w-25 px-1" src="../../assets/google-play-badge.png" alt="">
        </div>
    </div>
</div>
